<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<section>
      <div class="file_input_form">
          <form method= "POST" action = "" enctype="multipart/form-data" accept=".txt">
            <div class = "form_title"><u>View Race Gap Graph!</u></div><br>
            <div class = "race_input">
                YEAR <input name="year" type="number" min="1950" step="1" value="2022" />
                ROUND <input name="round" type="number" min="1" max="25" step="1" value="7" />
            </div>
            <div class = "submit_button"><input type="submit" name="submit_form" enctype="multipart/form-data"></div>
          </form>
      </div>
</section>

</body>
</html>